
body{
    margin: 0px;
    
}

header{
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: space-between;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

main{
    margin-bottom: 650px;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(5, 5, 5);
}

img{
    width: 110px;
    height: 110px;
}

footer{
    background-color: rgb(46, 46, 46);
    height: 200px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.icon{
    display: flex; 
}

.cara{
    display: flex;
    justify-content:center ;
    margin: auto;
    gap: 30px;
    border-bottom: 2px solid white;
    max-width: 300px;
}

.lorem{
    display: flex;
    color: aliceblue;
    margin: 0px 300px;
}

svg:hover{
    fill: hotpink;
}

svg{
    transition: 0.2s ease-in-out;
}

.footer-container{
    display: flex;
    justify-content: center;
    color: white;
}

h3{
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
}