body{
    margin: 0px;
}

header{
    background-color: rgb(38, 44, 44);
    display: flex;
    justify-content: space-between;
}

.acka{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

a{
    display: flex;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    
}

a:hover, a:active {
    background-color: rgb(253, 5, 5);
    color: rgb(5, 5, 5);
  }

img{
    width: 110px;
    height: 110px;
}